%flex-align {
  display: flex;
  align-items: center;
}

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-justify-center {
  display: flex;
  justify-content: center;
}

%flex-column-align-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}
